[Unit]
Description=Periodically maintain the Proton Mail index

[Timer]
OnBootSec=30min
OnUnitInactiveSec=2h
RandomizedDelaySec=5min
Unit=proton-rag-maintenance.service

[Install]
WantedBy=timers.target
